<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlx.ict4d.demo.Mapper.ProductMapper">
      <insert id="addProduct">
        insert into Product(`user_id`,`category_id`,`name`,`quantity`,`price`,`address`,`information`,`user_name`) values(#{userId},#{categoryId},#{name},#{quantity},
                                                                                    #{price},#{address},#{information},#{userName})
    </insert>


    <select id="selectAllProductsByCategory" resultType="com.zlx.ict4d.demo.bean.Product">
        select * from Product where  category_id =#{categoryId}

    </select>
    <select id="selectProductById" resultType="com.zlx.ict4d.demo.bean.Product">
     select * from Product where id=#{productId}

    </select>
    <select id="searchProductByName" resultType="com.zlx.ict4d.demo.bean.Product">
        select * from Product where name like '%${name}%'
    </select>

    <select id="selectAllProducts" resultType="com.zlx.ict4d.demo.bean.Product">

        select * from Product
    </select>
    <select id="selectProductsByUserId" resultType="com.zlx.ict4d.demo.bean.Product">

      select * from Product where user_id = #{userId}
    </select>

</mapper>
