<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlx.ict4d.demo.Mapper.UserMapper">
    <insert id="addUser">
        insert into users(`user_name`,`phone`,`password`)
        values(#{userName},#{phone},#{password})

    </insert>
    <update id="updateUser">

        update users set user_name = #{user.userName},phone = #{user.phone},password=#{user.password},
                              where id=#{user.id}
    </update>
    <delete id="deleteUser">
        delete users where id=#{userId}
    </delete>


    <select id="findByUserName" resultType="com.zlx.ict4d.demo.bean.User">
        select * from users where user_name = #{userName}
    </select>
    <select id="findByPhoneNumber" resultType="com.zlx.ict4d.demo.bean.User">
        select * from users where phone = #{phoneNumber}
    </select>
    <select id="countUserName" resultType="java.lang.Integer">
        select count(*) from users where user_name = #{userName}
    </select>
    <select id="findById" resultType="com.zlx.ict4d.demo.bean.User">
        select * from users where id=#{id}
    </select>

    <select id="getAllUsers" resultType="com.zlx.ict4d.demo.bean.User">
        select * from users
    </select>
</mapper>